oppfolgingsplan/src/main/xsd/Oppfolgingsplan201607_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://seres.no/xsd/NAV/Oppfoelgingsplan4_utfyllende_info_M/2016"
			xmlns:seres="http://seres.no/xsd/forvaltningsdata"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://seres.no/xsd/NAV/Oppfoelgingsplan4_utfyllende_info_M/2016"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
   <!--xsd:annotation>
      <xsd:documentation>
         <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN"/>
         <xsd:attribute name="XSD-generatorversjon" fixed="2.0.17"/>
         <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7"/>
         <xsd:attribute name="generert" fixed="2016-07-06T15:54:37.433+02:00"/>
         <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd"/>
         <xsd:attribute name="namespace"
                        fixed="http://seres.no/xsd/NAV/Oppfoelgingsplan4_utfyllende_info_M/2016"/>
         <xsd:attribute name="meldingsnavn" fixed="melding"/>
         <xsd:attribute name="domenenavn" fixed="NAV"/>
         <xsd:attribute name="modellnavn" fixed="Oppfoelgingsplan4_utfyllende_info_M"/>
         <xsd:attribute name="metamodellversjon" fixed="1.2"/>
         <xsd:attribute name="guid" fixed="true"/>
         <xsd:attribute name="orid" fixed="false"/>
         <xsd:attribute name="nillable" fixed="true"/>
         <xsd:attribute name="tillat-gjenbruk" fixed="true"/>
         <xsd:attribute name="elementtype" fixed="true"/>
         <xsd:attribute name="forvaltningsdata" fixed="true"/>
         <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata"/>
         <xsd:attribute name="saernorske-bokstaver-i-navn" fixed="false"/>
         <xsd:attribute name="ft_guid_som_attributt" fixed="false"/>
         <xsd:attribute name="sem-ref" fixed="false"/>
         <xsd:attribute name="kodebibliotek" fixed="false"/>
         <xsd:attribute name="spraak" fixed=""/>
         <xsd:attribute name="XSD-variant" fixed="Altinn 1.3.1"/>
      </xsd:documentation>
   </xsd:annotation-->
   <xsd:element name="melding" type="Oppfoelgingsplan4_utfyllende_info_M"/>
   <xsd:complexType name="Oppfoelgingsplan4_utfyllende_info_M" seres:elementtype="Meldingsmodell"
                    seres:guid="http://seres.no/guid/NAV/Meldingsmodell/Oppfølgingsplan4_utfyllende_info_M/625690">
      <xsd:sequence>
         <xsd:element name="Skjemainnhold" type="Skjemainnhold" seres:elementtype="Meldingsdel"
                      seres:guid="http://seres.no/guid/NAV/Meldingsdel/Skjemainnhold/625681"/>
      </xsd:sequence>
      <!--xsd:attribute name="dataFormatProvider" type="xsd:string" use="required" fixed="SERES"/>
      <xsd:attribute name="dataFormatId" type="xsd:string" use="required" fixed="5223"/>
      <xsd:attribute name="dataFormatVersion" type="xsd:string" use="required" fixed="41082"/-->
      <xsd:anyAttribute/>
   </xsd:complexType>
   <xsd:complexType name="Skjemainnhold" seres:elementtype="Meldingsdel"
                    seres:guid="http://seres.no/guid/NAV/Meldingsdel/Skjemainnhold/625681">
      <xsd:sequence>
         <xsd:element name="arbeidsgiver" type="Arbeidsgiver" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/arbeidsgiver/625680"/>
         <xsd:element name="sykmeldtArbeidstaker" type="SykmeldtArbeidstaker" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/sykmeldtArbeidstaker/625679"/>
         <xsd:element name="sykefravaerForSykmeldtArbeidstaker"
                      type="SykefravaerForSykmeldtArbeidstaker"
                      nillable="true"
                      minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/sykefraværForSykmeldtArbeidstaker/625678"/>
         <xsd:element name="avsenderSystem" type="AvsenderSystem" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/avsenderSystem/625677"/>
         <xsd:element name="tiltak" type="Tiltak" nillable="true" minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/tiltak/625676"/>
         <xsd:element name="mottaksInformasjon" type="Mottaksinformasjon" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/mottaksInformasjon/625675"/>
         <xsd:element name="arbeidstakersDeltakelse" type="ArbeidstakersDeltakelse" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/arbeidstakersDeltakelse/625673"/>
         <xsd:element name="utfyllendeOpplysninger" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/utfyllendeInformasjon/625702"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Arbeidsgiver" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Arbeidsgiver/625671">
      <xsd:sequence>
         <xsd:element name="annenKontaktpersonEtternavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/annenKontaktpersonEtternavn/625670"/>
         <xsd:element name="telefonNaermesteLeder" type="Telefonnummer" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/telefonNærmesteLeder/625669"/>
         <xsd:element name="naermesteLederFornavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/nærmesteLederFornavn/625668"/>
         <xsd:element name="orgnr" type="Organisasjonsnummer" seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/orgnr/625667"/>
         <xsd:element name="orgnavn" type="Tekst" seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/orgnavn/625666"/>
         <xsd:element name="virksomhetErIABedrift" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/virksomhetErIABedrift/625665"/>
         <xsd:element name="virksomhetHarBedriftshelsetjeneste" type="SvaralternativJaNei"
                      nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/virksomhetHarBedriftshelsetjeneste/625664"/>
         <xsd:element name="telefonKontaktperson" type="Telefonnummer" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/telefonKontaktperson/625663"/>
         <xsd:element name="naermesteLederEtternavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/nærmesteLederEtternavn/625662"/>
         <xsd:element name="annenKontaktpersonFornavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/annenKontaktpersonFornavn/625661"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SykmeldtArbeidstaker" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/SykmeldtArbeidstaker/625660">
      <xsd:sequence>
         <xsd:element name="fnr" type="IDnummerPerson" seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fnr/625659"/>
         <xsd:element name="etternavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/etternavn/625658"/>
         <xsd:element name="stillingAvdeling" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/stillingAvdeling/625657"/>
         <xsd:element name="tlf" type="Telefonnummer" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/tlf/625656"/>
         <xsd:element name="ordinaereArbeidsoppgaver" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/ordinæreArbeidsoppgaver/625655"/>
         <xsd:element name="fornavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/fornavn/625654"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SykefravaerForSykmeldtArbeidstaker" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/SykefraværForSykmeldtArbeidstaker/625653">
      <xsd:sequence>
         <xsd:element name="foersteFravaersdag" type="Dato" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/førsteFraværsdag/625652"/>
         <xsd:element name="sykmeldingsdato" type="Dato" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/sykmeldingsdato/625651"/>
         <xsd:element name="sykmeldingsprosentVedSykmeldingsDato" type="Tekst" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/sykmeldingsprosentVedSykmeldingsDato/625650"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AvsenderSystem" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/AvsenderSystem/625649">
      <xsd:sequence>
         <xsd:element name="systemNavn" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/systemNavn/625648"/>
         <xsd:element name="systemVersjon" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/systemVersjon/625647"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Tiltak" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Tiltak/625646">
      <xsd:sequence>
         <xsd:element name="tiltaksinformasjon" nillable="true" minOccurs="0" maxOccurs="unbounded"
                      seres:elementtype="Relasjonsegenskap"
                      seres:guid="http://seres.no/guid/NAV/Relasjonsegenskap/tiltaksinformasjon/625645">
            <xsd:complexType>
               <xsd:complexContent>
                  <xsd:extension base="Tiltaksinformasjon">
                     <xsd:anyAttribute/>
                  </xsd:extension>
               </xsd:complexContent>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Tiltaksinformasjon" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Tiltaksinformasjon/625644">
      <xsd:sequence>
         <xsd:element name="bistandAndreBeskrivelse" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bistandAndreBeskrivelse/625643"/>
         <xsd:element name="bistandAndre" type="SvaralternativJaNei" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bistandAndre/625642"/>
         <xsd:element name="bistandHjelpemidler" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bistandHjelpemidler/625641"/>
         <xsd:element name="tidsrom" type="Tidsrom" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/tidsrom/625640"/>
         <xsd:element name="behovForAvklaringLegeSykmelder" type="Tekst" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/behovForAvklaringLegeSykmelder/625639"/>
         <xsd:element name="maalMedTiltaket" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/målMedTiltaket/625638"/>
         <xsd:element name="beskrivelseAvTiltaket" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/beskrivelseAvTiltaket/625637"/>
         <xsd:element name="bistandRaadOgVeiledning" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bistandRådOgVeiledning/625636"/>
         <xsd:element name="bistandDialogMoeteMedNav" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bistandDialogMøteMedNav/625635"/>
         <xsd:element name="bistandArbeidsrettedeTiltakOgVirkemidler" type="SvaralternativJaNei"
                      nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bistandArbeidsrettedeTiltakOgVirkemidler/625634"/>
         <xsd:element name="bistandBedriftshelsetjenesten" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bistandBedriftshelsetjenesten/625633"/>
         <xsd:element name="ordinaereArbeidsoppgaverSomIkkeKanUtfoeres" type="Tekst" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/ordinæreArbeidsoppgaverSomIkkeKanUtføres/625632"/>
         <xsd:element name="sykmeldingsprosentIPerioden" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/sykmeldingsprosentIPerioden/625631"/>
         <xsd:element name="signertPapirkopiForeligger" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/signertPapirkopiForeligger/625630"/>
         <xsd:element name="underskriftsdato" type="Dato" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/underskriftsdato/625629"/>
         <xsd:element name="oppfoelgingssamtaler" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/oppfølgingssamtaler/625628"/>
         <xsd:element name="tilrettelagtArbeidIkkeMulig" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/tilrettelagtArbeidIkkeMulig/625627"/>
         <xsd:element name="bistandRaadOgVeiledningBeskrivelse" type="Tekst" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bistandRådOgVeiledningBeskrivelse/625626"/>
         <xsd:element name="bistandArbeidsrettedeTiltakOgVirkemidlerBeskrivelse" type="Tekst"
                      nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bistandArbeidsrettedeTiltakOgVirkemidlerBeskrivelse/625625"/>
         <xsd:element name="bistandDialogMoeteMedNavBeskrivelse" type="Tekst" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bistandDialogMøteMedNavBeskrivelse/625624"/>
         <xsd:element name="bistandHjelpemidlerBeskrivelse" type="Tekst" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/bistandHjelpemidlerBeskrivelse/625623"/>
         <xsd:element name="behovForNyeTiltak" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/behovForNyeTiltak/625622"/>
         <xsd:element name="vurderingAvTiltak" type="Tekst" nillable="true" minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/vurderingAvTiltak/625621"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Tidsrom" seres:elementtype="Datakomplekstype"
                    seres:guid="http://seres.no/guid/NAV/Datakomplekstype/Tidsrom/625688">
      <xsd:sequence>
         <xsd:element name="periodeFra" type="Dato" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/periodeFra/625687"/>
         <xsd:element name="periodeTil" type="Dato" nillable="true" minOccurs="0"
                      seres:elementtype="DataTypeegenskap"
                      seres:guid="http://seres.no/guid/NAV/DataTypeegenskap/periodeTil/625686"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Mottaksinformasjon" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/Mottaksinformasjon/625620">
      <xsd:sequence>
         <xsd:element name="endringsDato" type="Dato" seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/endringsDato/625619"/>
         <xsd:element name="oppfolgingsplanSendesTiNav" type="SvaralternativJaNei" nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/oppfolgingsplanSendesTiNav/625618"/>
         <xsd:element name="oppfolgingsplanSendesTilFastlege" type="SvaralternativJaNei"
                      nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/oppfolgingsplanSendesTilFastlege/625617"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArbeidstakersDeltakelse" seres:elementtype="Dataobjekttype"
                    seres:guid="http://seres.no/guid/NAV/Dataobjekttype/ArbeidstakersDeltakelse/625684">
      <xsd:sequence>
         <xsd:element name="arbeidstakerIkkeMedvirketGjennomfoeringBegrunnelse" type="Tekst"
                      nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/arbeidstakerIkkeMedvirketGjennomføringBegrunnelse/625683"/>
         <xsd:element name="arbeidstakerMedvirketGjennomfoering" type="SvaralternativJaNei"
                      nillable="true"
                      minOccurs="0"
                      seres:elementtype="Dataegenskap"
                      seres:guid="http://seres.no/guid/NAV/Dataegenskap/arbeidstakerMedvirketGjennomføring/625682"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="Tekst" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Tekst/451470">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="Telefonnummer" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Telefonnummer/451469">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="Organisasjonsnummer" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Organisasjonsnummer/451456">
      <xsd:restriction base="RestriksjonOrganisasjonsnummer"/>
   </xsd:simpleType>
   <xsd:simpleType name="RestriksjonOrganisasjonsnummer" seres:elementtype="Tegnrestriksjon"
                   seres:guid="http://seres.no/guid/NAV/Tegnrestriksjon/RestriksjonOrganisasjonsnummer/573724">
      <xsd:restriction base="xsd:string">
         <xsd:length value="9"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SvaralternativJaNei" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/SvaralternativJaNei/474066">
      <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="IDnummerPerson" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Fødselsnummer/451463">
      <xsd:restriction base="RestriksjonIDnummerPerson"/>
   </xsd:simpleType>
   <xsd:simpleType name="RestriksjonIDnummerPerson" seres:elementtype="Tegnrestriksjon"
                   seres:guid="http://seres.no/guid/NAV/Tegnrestriksjon/RestriksjonFødselsnummer/573726">
      <xsd:restriction base="xsd:string">
         <xsd:length value="11"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Dato" seres:elementtype="Dataenkeltype"
                   seres:guid="http://seres.no/guid/NAV/Dataenkeltype/Dato/451464">
      <xsd:restriction base="xsd:date"/>
   </xsd:simpleType>
</xsd:schema>